<form (ngSubmit)="onSubmitForm(titleEntered.value, textInput.value)" #form>
    <app-control label="Title">
        <input type="text" name="title" id="title" #titleEntered #input>
    </app-control>
    <app-control label="Request">
        <textarea type="text" name="request" id="request" rows="4" #textInput #input></textarea>
    </app-control>
    <p>
        <button appButton>
            Submit
            <span ngProjectAs="icon"> <!--Now this will check for icon element in the app button component for projection-->
                →
            </span>
        </button>
    </p>
</form>